@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #30336b;
    font-family: 'Roboto', sans-serif;
    
}
.main{
    background-color: #130f40;
    border-radius: 5px;
    margin: 15px;
    padding: 20px;
}