@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color:#192a56;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 45px;
}

.main{
    background-color: #130f40;
    border-radius: 5px;
    width: 35%;
    margin: auto;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
